TARGET:
  - x86_64-conda-linux-gnu
  - powerpc64le-conda-linux-gnu
  - aarch64-conda-linux-gnu
  - x86_64-w64-mingw32
  - x86_64-apple-darwin13.4.0
  - arm64-apple-darwin20.0.0
gcc_version:
  - 15.2.0
  - 14.3.0
  - 13.4.0
gcc_maj_ver:
  - 15
  - 14
  - 13
libgfortran_soname:
  - 5
  - 5
  - 5
binutils_version:
  - 2.44
cross_target_platform:
  - linux-64
  - linux-ppc64le
  - linux-aarch64
  - win-64
  - osx-64
  - osx-arm64
cross_target_stdlib_version:
  - 2.17
  - 2.17
  - 2.17
  - 12
  - 0
  - 0
cross_target_stdlib:
  - sysroot
  - sysroot
  - sysroot
  - m2w64-sysroot
  - None
  - None
cross_target_cxx_stdlib:
  - libstdcxx
  - libstdcxx
  - libstdcxx
  - libstdcxx
  - libcxx
  - libcxx
MACOSX_SDK_VERSION:
  - 11.0
# openmp versions
openmp_ver:
  - 4.5
libgomp_ver:
  - 1.0.0
channel_sources:
  - conda-forge/label/sysroot-with-crypt,conda-forge
channel_targets:
  - conda-forge gcc-experimental
# we could use stdlib("m2w64_c"), but this allows uniform use in setup_compiler.sh
c_stdlib:          # [win]
  - m2w64-sysroot  # [win]
c_stdlib_version:  # [win]
  - 12             # [win]
with_conda_specs:
  - true
  - false
zip_keys:
  - - cross_target_stdlib_version
    - cross_target_stdlib
    - cross_target_cxx_stdlib
    - TARGET
    - cross_target_platform
  - - gcc_version
    - gcc_maj_ver
    - libgfortran_soname
