ctng_sample:
  - x86_64-centos6-linux-gnu
  - powerpc64le-unknown-linux-gnu
  - aarch64-unknown-linux-gnu
ctng_cpu_arch:
  - x86_64
  - powerpc64le
  - aarch64
# gdb is optional - commenting this will disable gdb from being built.  For gcc 8.2, that's what we need to do.
#ctng_gdb:     # [not ppc64le]
#  - 7.12.1    # [not ppc64le]
ctng_gcc:
  - 7.5.0
  - 8.4.0
  - 9.3.0
ctng_binutils:
  - 2.31.1
  - 2.31.1
  - 2.29.1
ctng_target_platform:
  - linux-64
  - linux-ppc64le
  - linux-aarch64
old_ctng_vendor:
  - conda_cos6
  - conda_cos7
  - conda_cos7
ctng_vendor:
  - conda
#ctng_duma:
#  - 2.5.15
ctng_gcc_build_number:
  - 14
ctng_gmp:
  - 6.1.2
ctng_isl:
  - 0.22
ctng_libc:
  - gnu
ctng_kernel:
  - 2.6.32
  - 3.10
  - 3.10
ctng_libiconv:
  - 1.15
ctng_mpc:
  - 1
ctng_nature:
  - shared
ctng_ncurses:
  - 6.1
gnu:
  - 2.12.2
  - 2.17
  - 2.17
conda_glibc_ver:
  - 2.12
  - 2.17
  - 2.17
# openmp versions
openmp_ver:
  - 4.5
libgomp_ver:
  - 1.0.0

zip_keys:
  - - conda_glibc_ver
    - old_ctng_vendor
    - gnu
    - ctng_kernel
    - ctng_sample
    - ctng_cpu_arch
    - ctng_binutils
    - ctng_target_platform
