# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: linux
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      linux_64_ctng_binutils2.29.1ctng_cpu_archaarch64ctng_target_platformlinux-aarch64old_ctng_vendorconda_cos7:
        CONFIG: linux_64_ctng_binutils2.29.1ctng_cpu_archaarch64ctng_target_platformlinux-aarch64old_ctng_vendorconda_cos7
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cos7-x86_64
      linux_64_ctng_binutils2.31.1ctng_cpu_archpowerpc64lectng_target_platformlinux-ppc64leold_ctng_vendorconda_cos7:
        CONFIG: linux_64_ctng_binutils2.31.1ctng_cpu_archpowerpc64lectng_target_platformlinux-ppc64leold_ctng_vendorconda_cos7
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cos7-x86_64
      linux_64_ctng_binutils2.31.1ctng_cpu_archx86_64ctng_target_platformlinux-64old_ctng_vendorconda_cos6:
        CONFIG: linux_64_ctng_binutils2.31.1ctng_cpu_archx86_64ctng_target_platformlinux-64old_ctng_vendorconda_cos6
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cos7-x86_64
      linux_64_ctng_binutils2.33.1ctng_cpu_archs390xctng_target_platformlinux-s390xold_ctng_vendorconda_cos7:
        CONFIG: linux_64_ctng_binutils2.33.1ctng_cpu_archs390xctng_target_platformlinux-s390xold_ctng_vendorconda_cos7
        UPLOAD_PACKAGES: 'True'
        DOCKER_IMAGE: quay.io/condaforge/linux-anvil-cos7-x86_64
  timeoutInMinutes: 360

  steps:
  - script: |
         rm -rf /opt/ghc
         df -h
    displayName: Manage disk space

  # configure qemu binfmt-misc running.  This allows us to run docker containers
  # embedded qemu-static
  - script: |
      docker run --rm --privileged multiarch/qemu-user-static:register --reset --credential yes
      ls /proc/sys/fs/binfmt_misc/
    condition: not(startsWith(variables['CONFIG'], 'linux_64'))
    displayName: Configure binfmt_misc

  - script: |
        export CI=azure
        export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
        export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
        if [[ "${BUILD_REASON:-}" == "PullRequest" ]]; then
          export IS_PR_BUILD="True"
        else
          export IS_PR_BUILD="False"
        fi
        .scripts/run_docker_build.sh
    displayName: Run docker build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)